mixin challengecard(data)
    article.challengecard
        .challengecard-inner
            .challengecard-author
                p
                    | Set by &nbsp;
                    strong #{data.author}
                img.challengecard-author-avatar(src='./static/images/#{data.avatar}.jpg' alt=data.title + ' avatar')
            .challengecard-content
                h2.challengecard-title= data.title
                p
                    | It's at &nbsp;
                    strong #{data.location}
                    | &nbsp; and will take #{data.time}
                p
                    | #{data.activeparticipants}
                    | out of
                    | #{data.participantlimit}
                    | are taking #{data.author}'s challenge
                -if(data.enddate !== 'unlimited')
                    p
                        | You have until #{data.enddate}
                        | to complete this challenge
                -else
                    p This challenge has no time limit. Enjoy!
                footer.challengecard-footer
                    a.challengecard-cta(role="button" href='') Accept this challenge!
